@font-face {
    font-family: 'Ubuntu Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Ubuntu Bold'), url('Ubuntu-B.woff') format('woff');
}
h1 {
    font-family: 'Ubuntu Bold';
    text-transform: capitalize;
    font-weight: 200;
    color: #CCCCCC;
}

h2 {
    font-family: 'Ubuntu Bold';
    text-transform: capitalize;
    font-weight: 200;
    color: white;
}
p {
    font-family: 'Ubuntu Bold';
    text-transform: capitalize;
    font-weight: 200;
    color: gray;
}